{% extends 'base.html.twig' %}
{% block title %}Articles Administration{% endblock %}

{% block css %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% endblock %}

{% block body %}
    <form id="createArticle" method="post" action="index.php?controller=article&action=add&article={{ form.vars.value }}" class="row">
        <input name="article" class="col s2" placeholder="Article Title" type="text">
        <div class="input-field col s2">
            <select name="user" class="browser-default">
                <option value="" disabled selected>Article creator</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-field col s2">
            <select name="category" class="browser-default">
                <option value="" disabled selected>Article Category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.category }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">New article</button>
    </form>
    <table class="striped centered responsive-table">
        <thead>
        <tr>
            <th>Article</th>
            <th>Creator</th>
            <th>Registration</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.name }}</td>
                <td>{{ article.user }}</td>
                <td>{{ article.registration }}</td>
                <td>{{ article.category }}</td>
                <td><button type="button">Edit</button><button type="button">Delete</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript_end %}
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
{% endblock %}